* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    line-height: 1.4;
}

.mainWindow, .panel {
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
}

.gameWindow {
    display: none;
}

.startScreen{
    min-height: 100vh;
    background: #d6e7f7;
    margin: 0 auto;
}

.logo__container {
    text-align: center;
}

.logo__image{
    max-height: 200px;
    max-width: 200px;
    margin-top: 1%;
}

.button {
    line-height: 1;
    display: inline-block;
    padding: 15px;
    min-width: 150px;
    max-height: 50px;
    color: #d6e7f7;
    margin: 1% auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    text-shadow: 0 0 5px #000;
    background: #4f6b86;
}

.button:hover{
    background: #6888a3;
}

.buttons__container{
    margin-top: 5%;
    line-height: 1.4;
    text-align: center;
}

.buttons__container > span {
    margin-left: 5%;
    margin-right: 5%;
}

.header__container h1 {
    font-family: 'Press Start 2P', cursive;
    color: #4f6b86;
}

.instructions__container {
    display: none;
    font-size: 12px;
    line-height: 1.4;
    color: #4f6b86;
}

.flex-item {
    flex: 1;
}

#gameArea {
    flex-grow: 4;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("../images/game/others/bg-city.jpg") no-repeat;
    background-size: 100% 100%;
}

.scores-container {
    background: #4f6b86;
    display: flex;
    flex-direction: column;
    height: 585px;
}

#highscore-container {
    text-align: center;
    line-height: 1.4;
    padding: 10px;
}

.highscore-header {
    font-size: 24px;
    font-weight: bold;
}

#highscore-ranking {
    padding-top: 20px;
}

#highscore-ranking > p:first-child {
    color: #a6b9cd;
    font-weight: bolder;
}

.score-panel {
    text-align: center;
    font-size: 1em;
    display: flex;
    background: #a6b9cd;
    flex-direction: column;
    height: 325px;
}

.score-item {
    flex-basis: calc(50% - 10px);
    padding-top: 10px;
}

.score-panel__number {
    text-align: center;
    font-size: 32px;
    padding: 0;
}

.panel {
    height: 150px;
    background: #4f6b86;
}

.border-style {
    border-bottom: 5px inset rgba(0,0,0,.5);
    border-left: 5px inset rgba(0,0,0,.5);
    border-right: 5px inset rgba(255,255,255,.5);
    border-top: 5px inset rgba(255,255,255,.5);
}

.control-panel {
    flex-grow: 3;
    background: #a6b9cd;
    display: flex;
    align-items: center;
    vertical-align: center;
}

.control-item {
    margin: 5%;
    flex: 1;
    display: inline-block;
}

.timer {
    text-align: center;
    line-height: 150px;
    font-size: 3em;
    font-weight: bold;
}

#difficultyLevels {
    display: inline-block;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    margin: 25px auto;
}

.game-element {
    flex: 1;
    height: 45px;
    background: center no-repeat;
    background-size: 65% 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.wall {
    background: url("../images/game/others/wall.png");
    background-size: 100% 100%;
    opacity: 0.75;
}

.coin {
    background-image: url("../images/game/others/coin.png");
    background-size: 50% 50%;
}

.pacman {
    background-image: url("../images/game/others/player.png");
}

.collected {
    background: #fff;
    opacity: 0;
}

.skill-html {
    background-image: url("../images/game/skills/html.png");
}

.skill-css {
    background-image: url("../images/game/skills/css.png");
}

.skill-js {
    background-image: url("../images/game/skills/javascript.png");
}

.enemy {
    background-image: url("../images/page_elements/LOGO1_fire.png");
    background-size: 53% 100%;
}

.instructions-description {
    margin-top: 20px;
    padding: 20px;
}

.instructions-icon {
    height: 40px;
    width: 40px;
}

.instructions-points {
    line-height: 3;
    padding: 10px 20px;
    background: #4f6b86;
    color: #d6e7f7;
}

.credits {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

.credits-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.credits-text {
    margin-top: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.no-pasaran {
    text-align: center;
    background: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    height: 100vh;
}

.no-pasaran > p {
    position: absolute;
    color: #F26D02;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

