* {
    box-sizing: border-box;
}

.row
.wall {
    height: 50px;
    width: 50px;
}

.row {
    display: flex;
    flex-direction: row;
}

.wall {
    flex: 1;
    background: gray;
    border: 1px solid red;
}

.coin {
    flex: 1;
    background: yellow;
}

.pacman {
    flex: 1;
    background: red;
}

.element {
    flex: 1;
    background: green;
}