/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    background-color: #fefefe;
    line-height: 1.4;
}

h2 {
    text-align: center;
    padding: 25px;
}

input {
    display: block;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ccc;
}

input:hover {
    background: #ccc;
    transition: 1s;
}

.hero {
    padding-top: 100px;
    height: 100vh;
    background: #292929;
    background-image: url("../images/1261534_Sopot-o-wschodzie-slonca.jpg");
    background-attachment: fixed;
    background-position: 0,0;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.hero-title {
    text-align: center;
}

.cta-buttons {
    text-align: center;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navigation-list.hide {
    display : none;
    transition: 1s linear;
}

.navigation-list-item.hover {
    padding: 10px;
    flex: 1;
    background: #a6b9cd;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

.center-logo {
    display: none;
}

.navigation-list-item a {
    color: #363636;
    text-decoration: none;
    font-size: 1em;
}

.navigation-list-item.hover {
    transition: 0.1s linear;
}

.navigation-list-item.hover:hover {
    background: #f8f8ff;
}

.hamburger-container {
    text-align: center;
    font-size: 2em;
    background-color: #a6b9cd;
}

.hamburger {
    color: #363636;
}

.hamburger:hover {
    cursor: pointer;
}

.form {
    padding-top: 50px;
    background-color: #a6b9cd;
    text-align: center;
    color: #454545;
}

.section-form {
    padding-bottom: 15px;
}

.form h2 {
    font-size: 45px;
    padding: 20px;
}

.form h3 {
    font-size: 38px;
    padding: 20px;
}

.section-form h3 {
    font-size: 30px;
}

.form-data {
    display: block;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ccc;
}

.submit {
    margin: 15px auto;
    display: block;
    background: #82a9d2;
    font-size: 20px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5%;
    transition: 0.1s linear;
    box-shadow: 3px 3px #5f5f5f;
}

.submit:hover {
    background: #d1d8d8;
}

.submit:active {
    transform: translateY(6px);
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.section-features {
    display: inline-block;
    width: 100vw;
    padding: 50px;
}

.feature-items {
    width: 25%;
    float: left;
}

.features-icon-container {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 25%;
    float: left;
}

.features-items-description {
    padding: auto;
    position: relative;
    width: 90%;
    text-align: center;
    display: inline-block;
    z-index: 1;
}

.section-features-header, .add-info-header {
    font-size: 24px;
    }

.features-item-header, .section-features-header, .add-info-header {
    font-weight: 700;
}

.features-item-header {
    padding-top: 10px;
    padding-bottom: 10px;
}


.add-info-column {
    padding: 50px;
    width: 50%;
    float: left;
}

.add-info-item {
    margin: 25px;
}


.add-info-item h4 {
    display: block;
    font-weight: bold;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}
/* ICONS */
.fa-js {
    color: #f4be41;
}

.fa-react {
    color: #42f4eb;
}

.fa-angular {
    color: #d10c16;
}

.fa-node-js {
    color: #67d60c;
}

.fa-map, .fa-map-marker-alt, .fa-bell, .fa-child, .fa-calendar-alt, .fa-comment-alt {
    color: #82a9d2;
}

@media screen and (min-width: 968px) {
    .hamburger-container {
        display: none;
    }

    .navigation-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        line-height: 70px;
        height: 70px;
        white-space: nowrap;
    }

    .navigation-list.hide {
        display: flex;
    }

    .navigation-list-item {
        flex: 1;
        background: #a6b9cd;
        list-style: none;
        font-family: "Open Sans", sans-serif;
    }

    .navigation-list-item a {
        text-decoration: none;
        font-size: 1em;
    }

    .center-logo {
        padding: 0;
        display: unset;
        flex: 1;
        width: 100px;
        background: #a6b9cd;
        border: 5px solid #a6b9cd;
        border-radius: 50%;
    }

    .navigation-list-item.hover {
        padding: 0;
        transition: 0.3s linear;
    }
}
