* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #454545;
    background-color: #fefefe;
    line-height: 1.4;
}

.main__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.section-features, .section-add-info, .section-form, .section-team {
    padding: 5em 2em;
    margin-left: 2em;
    margin-right: 2em;
    height: 100%;
}

.hero{
    position: relative;
    height: 960px;
    background: no-repeat center;
    background-size: cover;
    animation: bg-change 15s infinite;
}

@keyframes bg-change{
    0% {background-image: url("../images/gdansk.jpg");}
    33% {background-image: url("../images/sopot2.png");}
    66% {background-image: url("../images/gdynia.jpg");}
    100% {background-image: url("../images/gdansk.jpg");}
}

.hero__button {
    background: transparent;
    margin-top: 160px;
    height: 30px;
}

.hero__button--signup {
    color: #fefefe;
    border: 4px solid #fefefe;
    padding: 20px 48px;
    font-size: 20px;
    text-decoration: none;
    background: transparent;
    border-radius: 10px;
    text-shadow: 1px 1px #4f6b86;
}

.hero__button--signup:hover{
    opacity: 0.8;
    background: #4f6b86;
    color: #fefefe;
    border: 4px solid #4f6b86;
}

.hero__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 900;
    text-shadow: 1px 2px #4f6b86;
}

.hero__content h1{
    font-size: 48px;
    letter-spacing: 0.1em;
}

.hero__content h2{
    font-size: 24px;
    letter-spacing: 0.1em;
    opacity: 0.85;
}

.hero__it {
    display: inline-block;
    margin-top: 10px;
    color: #7395AE;
    border: 4px solid #7395AE;
    padding: 10px 8px 10px 12px;
    text-align: center;
}

.hero__main-title {
    padding-bottom: 60px;
}

.triangle__container{
    margin-top: 10%;
}

.triangle {
    border: solid #f8f8ff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-top: 20px;
    animation: triangle-animation 4s infinite;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-shadow: 1px 1px 2px #0a0a0a;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer
}

@keyframes triangle-animation{
    0%   {padding-top:30px; padding-right: 30px; margin-bottom: -50px; margin-right: 0;}
    25%  {padding-top:30px; padding-right: 30px; margin-bottom: -85px; margin-right: 0;}
    50%  {padding-top:30px; padding-right: 30px; margin-bottom: -50px; margin-right: 0;}
    75%  {padding-top:30px; padding-right: 30px; margin-bottom: -85px; margin-right: 0;}
    100% {padding-top:30px; padding-right: 30px; margin-bottom: -50px; margin-right: 0;}
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.navigation-list {
    display : none;
    flex-direction: column;
    text-align: center;
    background: #4f6b86;
}

.navigation-list-item.hover {
    padding: 10px;
    flex: 1;
    list-style: none;
    font-family: "Lato Semibold", sans-serif;
    text-transform: uppercase;
    transition: 0.1s linear;
}

/*.highlight {*/
    /*background: #fefefe;*/
    /*font-weight: bold;*/
/*}*/

.navigation-list-item.hover:hover {
    background: #fefefe;
    font-weight: bold;
}

.navigation-list-item:hover a {
    color: #4f6b86;
    font-weight: bold;
}

.navigation-list-item a {
    color: #fefefe;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.highlight {
    background: #fefefe;
    opacity: 0.5;
    color: #4f6b86;
    font-weight: bold;
}

.highlight a {
    color: #4f6b86;
    font-weight: bold;
}

.center-logo {
    display: none;
}

.hamburger-container {
    text-align: center;
    font-size: 2em;
    background-color: #4f6b86;
}

.hamburger {
    color: #B1A296;
}

.hamburger:hover {
    cursor: pointer;
}

.form {
    padding-top: 6em;
    background: #7395AE;
    text-align: center;
    color: #fefefe;
    overflow: hidden;
    font-family: "Lato Light", sans-serif;
}

.form__icon {
    padding: 1em;
}

.form__info {
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
}

.form__inputs {
    display: none;
}

.form--animate {
    transition: transform 1.5s ease-in-out;
    transform: rotate(360deg) scale(1.1);
}

.form h2 {
    padding: 0;
    font-size: 2em;
}

.form h3 {
    font-size: 1em;
    padding: 0.5em;
}

.typewrite {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(80) 1 normal both;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

.form-data {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #515151;
    background: none;
    transition: 0.4s ease-in-out;
    text-align: center;
    width: 40%;
    outline: none;
    caret-color: transparent;
    font-size: 1em;
}

::placeholder {
    color: #fefefe;
}

.form-data:hover::-webkit-input-placeholder {
    transition: 0.5s;
    color: #fefefe;
    opacity: .2
}

.form-data:focus, .form-data[type=text]:valid  {
    border-bottom: 2px solid #111111;
    width: 60%;
}

.form-data:focus::-webkit-input-placeholder {
    color:transparent;
}

.form-data:invalid {
    outline: none;
}

.submit, .show_inputs {
    font-size: 15px;
    padding: 15px;
    border: 1px solid #fefefe;
    background: none;
    color: #fefefe;
    width: 30%;
    outline: none;
    box-shadow: 3px 3px #5f5f5f;
    position: relative;
    z-index: 1;
}

.submit {
    width: 55%;
}

.show_inputs:after, .submit:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #4f6b86;
    z-index: -1;
    transition: width 0.3s ease-in-out;
    border-radius: 10px;
}

.show_inputs, .submit {
    margin: 2em auto;
    border-radius: 10px;
}

.show_inputs:hover:after, .submit:hover:after {
    width:99%;
}

.submit:active, .show_inputs:active {
    transform: translateY(6px);
}

.submit:focus, .show_inputs:focus {
    outline:none
}

.section-features {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}

.features__item {
    padding: 1%;
    width: 100%;
    text-align: center;
}

.features__icon-container {
    padding-top: 3%;
    padding-bottom: 1%;
    display: flex;
    flex-grow:1;
    justify-content: center;
}

.features-item__description {
    margin-top: 4%;
    z-index: 1;
    font-size: 1.25em;
}

.features__header, .add-info__header, .team__header {
    padding-bottom: 1em;
    font-size: 42px;
    color: #4f6b86
    }

.features__header::after, .add-info__header::after, .team__header::after {
    content: "";
    display: block;
    margin: 20px auto;
    width: 175px;
    border: 3px solid #4f6b86;
}

.features__item-header {
    font-size: 1.5rem;
    color: #4f6b86;
}

.features__item-header, .features__header, .add-info__header {
    font-weight: 700;
    text-align: center;
}

.section-add-info {
    display: flex;
    flex-grow:1;
    flex-direction: column;
    text-align: center;
}

.add-info__container {
    justify-content: center;
}

.add-info__item {
    font-size: 1em;
    justify-content: center;
}

.add-info__item span {
    text-align: center;
    font-size: 1.2em;
}

.add-info__item h4 {
    color: #4f6b86;
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.add-info__box {
    margin-bottom: 20px;
}

.add-info__img-container {
    margin-bottom: 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: block;
    background: #7395AE;
    color: #fefefe;
    width: 100%;
    height: 100%;
    padding: 2%;
    flex-direction: column;
}

.footer-element {
    display: flex;
    flex:1;
    margin: 5px;
    height: 180px;
    justify-content: center;
}

.footer-header {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #fefefe;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.footer-index {
    flex-direction: column;
}

.footer-index-list-item a {
    text-decoration: none;
    font-size: 1em;
    color: #fefefe
}

.footer-index-list-item a:hover {
    font-weight: bold;
    color: #4f6b86;
}

.footer-address {
    flex-direction: column;
}

.footer-map__container {
    height: 300px;
}

.footer-map {
    height: 280px;
    width: 280px;
    background-color: #4f6b86;
    border: 10px solid black;
    padding: 2%;
    border-radius: 100%;
}

.footer-additional {
    flex-direction: column;
    justify-content: center;
}

.footer-social {
    color: #a6b9cd;
    padding-top: 10px;
    align-self: center;
}

.copy-info {
    font-size: 0.8em;
    height: 150%;
    color: #fefefe;
    text-align: center;
    background: #4f6b86;
}

/* ICONS */
.fa-js {
    color: #f4be41;
}

.fa-react {
    color: #61DBFB;
}

.fa-angular {
    color: #f70404;
}

.fa-node-js {
    color: #67d60c;
}

.fa-facebook-square, .fa-linkedin, .fa-instagram, .fa-github-square {
    color: #4f6b86;
    opacity: 0.3;
}

.fa-facebook-square:hover, .fa-linkedin:hover, .fa-instagram:hover, .fa-github-square:hover {
    animation: blink 2s infinite;
}

@keyframes blink {
    0%  { opacity: 0.5}
    10% { opacity: 0.6}
    20% { opacity: 0.7}
    30% {opacity: 0.8}
    40% {opacity: 0.9}
    50% {opacity: 1}
    60% {opacity: 0.9}
    70% {opacity: 0.8}
    80% {opacity: 0.7}
    90% {opacity: 0.6}
    100% {opacity: 0.5}
}

.fa-map, .fa-map-marker-alt, .fa-bell, .fa-child, .fa-calendar-alt, .fa-comment-alt {
    color: #4f6b86;
}

#mapid {
    max-width: 335px;
    min-width: 160px;
    position: relative;
    border-radius: 50%;
    border: 2px solid #4f6b86;
    box-shadow: 5px 5px 5px #363636
}

.leaflet-container .leaflet-control-attribution {
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}

.leaflet-top {
    top: 33%;
}

.team__info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.team__header{
    text-align: center;
}

.team__header-container{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 2rem;
    font-weight: 700;
}

.team__img{
    border-radius: 50%;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
    filter: grayscale(0%);
}

.team__member{
    width: 100%;
    margin: 30px 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.team__member h2{
    font-size: 1em;
}

.fa-linkedin, .fa-github-square{
    margin-left: 14px;
    margin-right: 14px;
}

.team__member-container h1{
    font-size: 0.8em;
    padding: 5px;
    margin: 10px 0;
}

.team__member-container h2{
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background: #5EA3FF;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.team__member-container a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 1em;
}

.team__icons-container{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #5EA3FF;
}

#cookies {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1200;
}

#monster-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin:0;
    padding: 0;
    width: 340px;
    height: 300px;
    align-items: baseline;
}

#cookieinfo {
    flex-grow: 1;
    position: relative;
    font-size: 12px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #7395AE;
    padding: 20px;
}

#cookieinfo h6 {
    font-size: 16px;
    font-weight: bold;
    color: #cdd7da;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 7px;
}

#cookieinfo p {
    color: #fefefe;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

#cookieinfo a {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    background-color: #4f6b86;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

#cookieinfo a:hover {
    background-color: #4f6b86;
    opacity: 0.75;
}

#cookiemonster {
    left: 0;
    bottom: 0;
    height: 200px;
    width: 140px;
    z-index: 1000;
    background: url("../images/cookie-fella.jpg");
    align-self: flex-end;
}

#cookiebubble {
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fefefe;
    border: 8px solid #4f6b86;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #888;
    left: 150px;
}

#cookiebubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #4f6b86 transparent transparent #4f6b86;
}

#cookiebubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fefefe transparent transparent #fefefe;
}

@media screen and (min-width: 968px) {
    .hamburger-container {
        display: none;
    }

    .hero__content h1{
        font-size: 72px;
        letter-spacing: 0.2em;
    }

    .hero__content h2{
        font-size: 36px;
        letter-spacing: 0.2em;
    }

    .hero__it {
        display: inline;
        padding: 10px 5px 10px 15px;

    }

    .navigation-list {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        line-height: 70px;
        height: 70px;
        white-space: nowrap;
    }

    .navigation-list-item {
        flex: 1;
        /*background: #4f6b86;*/
        list-style: none;
    }

    .navigation-list-item a {
        font-size: 12px;
    }

    .center-logo {
        padding: 0;
        display: unset;
        flex: 1;
        width: 100px;
        border-radius: 50%;
    }

    .navigation-list-item.hover {
        padding: 0;
        transition: 0.3s linear;
    }

    .features-item__container {
        flex-direction: row;
        display: flex;
    }

    .add-info__container {
        flex-direction: row;
        display: flex;
    }

    .add-info__column {
        max-width: 50%;
    }

    .add-info__box {
        padding: 2em 2em;
        height: 100%;
        width: 80%;
    }

    .add-info__item {
        display: flex;
        padding: 3.5%;
    }
    .add-info__img-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        flex-direction: row;
        display: flex;
    }

    .footer > div {
        height: 100%;
    }

    .footer-social {
        align-self: auto;
    }

    .parallax-container {
        background: center no-repeat fixed url("../images/gdansk_2.jpg") ;
        min-height: 400px;
        width: 100%;
        position: relative;
        opacity: 0.7;
        background-size: cover;
    }

    .form-data {
        font-size: 2em;
        width: 12em;
        margin: 20px auto;
    }

    .form h2 {
        font-size: 3em;
    }

    .form h3 {
        font-size: 2em;
    }

    .form-data:focus,.form-data[type=text]:valid  {
        width: 18em;
    }

    .submit, .show_inputs {
        margin: 3em auto;
        font-size: 20px;
    }

    .submit {
        width: 35%;
    }

    .team__info-container{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
    }

    .team__member-container{
        opacity: 0;
    }

    .team__member{
        filter: grayscale(80%);
        margin: 30px 20px;
    }

    .team__member:hover .team__member-container{
        opacity: 1;
        transition: 1s;
    }

    .team__member:hover {
        background: #f3f1f8;
        border-radius: 50px;
        box-shadow: 1px 1px 2px black, 0 0 25px #5EA3FF, 0 0 5px #4661ff;
        filter: grayscale(0%);
        transition: 1s;
    }

}
